<div class="teacher-page" id="teacher">

    <body class="teacher-landing-page">
        <div class="login-card">
            <div class="login-card-header">
                <h2>Update {{student.first_name}}'s Information</h2>
                <form>
                <ul class="nav">
                    <li class="nav-item" id="teacher-id" >
                        <label for="first_name" class="form-line"> Update First Name:</label>
                        <input type="text" id="first_name" name="first_name" class="form-line" placeholder="{{student.first_name}}">
                    </li>
                     <li class="nav-item">
                        <label for="last_name" class="form-line"> Update Last Name:</label>
                        <input type="text" id="last_name" name="last_name" class="form-line" placeholder="{{student.last_name}}">
                    </li>
                    <li>
                        <label for="teachers" class="form-line" >Update Teacher:</label>
                        <select name="teachers" id="teacher-id" class="form-line">
                        <option value="" hidden></option>
                        {{#each teachers as |teacher|}}
                        <option  value="{{teacher.id}}">{{teacher.first_name}} {{teacher.last_name}}</option>
                        {{/each}}
                        </select>
                    </li>
                     
                    
                    <li class="nav-item">
                        <button class="roster-btn" id="submit-btn" value="{{student.id}}">
                            <a class="nav-link active">Submit</a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="back-btn" id="teacher-btn">
                            <a class="nav-link active" href="/dashboard/principal/student/update">BACK</a>
                        </button>
                    </li>
                   
                   
                    <ul id="roster-el">

                    </ul>
                </ul>
                </form>
            </div>
        </div>
</div>

<script src="/js/updateStudent.js"></script>